form button {
    background-color: rgb(28, 185, 28);
    border: none;
    color: white;
    width: 90px;
    height: 30px;
    font-size: 1.125rem;
    cursor: pointer;
    margin-left: 25px;
}

form {
    margin: 25px 0;
    display: flex;
}

label {
    width: 150px;
}

input {
    width: 150px;
}

.display-item {
    margin-left: 20px;
}